/* src/Dashboard/css/PlaceHolderContent.css */
.placeholder-content {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-items: flex-start; 
  padding: 20px; 
  /* margin-top: 20px;  */
  overflow: hidden;
  background-color: #e7e5e5;
}

.content-item {
  border: 1px solid #ccc; /* Example style, adjust as needed */
  height: 300px; /* Example height, adjust as needed */
  flex-basis: calc(33% - 40px); /* Adjust the width of each box, accounting for padding/margins */
  margin: 10px; /* Add some margin around each box */
  margin-top: 75px; /* Adjust top margin as needed */
  border-radius: 8px; /* Optional: round the corners of the boxes */
  background-color: #f9f9f9; /* Placeholder background color */
  display: flex; /* Use flexbox to center content inside the box */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  /* Add more styles as needed */

}


.long-box {
  flex-basis: calc(66% - 20px); 
}


.content-item:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
}
 
.content {
  background-color: #e7e5e5;
  /* opacity: 70%; */
}
.placeholder-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-content,
.right-content {
  display: flex;
  flex-direction: column;
}
.left-content {
  width: 100%;
}
.right-content {
  width: 100%;
  height: 97.5%;
}
.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.top-row {
  width: 100%;
}
.bottom-row {
  width: 100%;
  gap: 20px;
}
.content-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.content-item.large {
  height: 400px;
  width: 585px;
  flex: 1 1 calc(50% - 10px);
  margin-right: 20px;
}

.content-item.small {
  height: 350px;
  width: 500px;
  flex: 1 1 calc(50% - 10px);
}

.content-item.medium {
  height: 200px;
  width: 400px;
  flex: 1 1 100%;
  margin-bottom: 20px;
}

/* Ensure the last item in the left content doesn't have a margin to the right */
.left-content .content-item:last-child {
  margin-right: 0;
}

/* Reset margin-bottom for the last item in the right content */
.right-content .content-item:last-child {
  margin-bottom: 0;
}
.notification {
  border: 1px solid #ccc; /* Adds a border to each notification */
  background-color: #fff; /* White background for the notification */
  padding: 10px; /* Padding inside each notification */
  flex-direction: row;
  /* margin-bottom: 5px; Space between notifications */
  /* border-radius: 4px; Rounded corners for a softer look */
}

/* Optionally, you can add a hover effect to make it interactive */
.notification:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
}
.content-item.medium {
  overflow-y: auto; /* Allows scrolling within the container if content exceeds its height */
}
.userInfo {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20pt;
  text-align: start;
}
.profile-and-logout-container {
  position: absolute;
  bottom: 10px;
  /* margin-top: 125px; */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Or any other styling as per your design */
  padding: 10px;
}

.profile-button, .logout-button {
  background-color: transparent;
  width: 175px;
  font-size: 15px;
  font-weight: bold;
  /* border: 1px solid #ccc; */
  text-align: left;
  color: #f6f6f6;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.profile-button:hover, .logout-button:hover {
  background-color: #f6f6f6;
  color: #444444;
}

/* Add media queries as needed for responsiveness */
/* Add media queries as needed for responsiveness */