.custom-img-dimensions{
    max-height: 180px;
}

.custom-bg{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    &:hover{
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Larger shadow on hover */
    }
}